.admin-e2ee__headline[data-v-cd08f894] {
  margin-block: 0.5em 1em;
}
.admin-e2ee__group-select[data-v-cd08f894] {
  max-width: 300px;
}
.admin-e2ee__save-button[data-v-cd08f894] {
  margin-block-start: 1em;
}