<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php"
	timeoutForSmallTests="900" timeoutForMediumTests="900" timeoutForLargeTests="900"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
	cacheDirectory=".phpunit.cache">
	<testsuite name="Nextcloud - End-to-End Encryption Tests">
		<directory suffix="test.php">./Unit</directory>
		<directory suffix="Test.php">./Unit</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<source>
		<include>
			<directory suffix=".php">../</directory>
		</include>
		<exclude>
			<directory suffix=".php">../appinfo</directory>
			<directory suffix=".php">../l10n</directory>
			<directory suffix=".php">.</directory>
		</exclude>
	</source>
</phpunit>